body{
  background-color:#222224;
  font-family:Source Sans Pro,Helvetica Neue,Arial,sans-serif
}    
.siderbar{
    border-right:2px solid rgba(154, 221, 252,0.5);
    overflow-y:auto;
    width: 300px;  
    padding: 40px 0 0;
    margin-left: 15px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    font-style: italic;
    font-size:1.3em;
    transition:left .25s ease-out;
    background-color: #1a1a1d;
}

.sidebar-nav{
  line-height:2em
}

.sidebar-nav ul{
  list-style:none;
  margin:0 0 0 15px;
}

.sidebar-nav ul li{
	margin:40px 0;
}

.sidebar-nav ul a{
  color: #9addfc;
  text-decoration:none
}

.content{
  padding-top:60px;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:340px;
  transition:left .25s ease;
}

.itembox{
  margin:10px 0;
  background-color:#1a1a1d;

  border-radius:20px;
  padding: 5px 5px 5px 70px;
  position:relative;
  display:flex;
  align-items:center;
}

.box_main{
  float:left;
  padding: 5px 5px 5px 30px;
}

.box_intro{
  float:left;
  padding: 5px 5px 5px 30px;
}

.box_text{
  display:flex;
  align-items:center;
  color:#9addfc;
  padding: 10px 5px 5px 10px;
}

.box_text ul{
   padding: 0 15px;
   margin: 0px;
}
