body{
  background-color:#222224;
  font-family:Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}    
.siderbar{
    border-right:2px solid rgba(154, 221, 252,0.5);
    overflow-y:auto;
    width: 300px;  
    padding: 40px 0 0;
    margin-left: 15px;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    font-style: italic;
    font-size:1.0em;
    transition:left .25s ease-out;
    background-color: #1a1a1d;
}

.sidebar-nav{
  line-height:2em
}

.sidebar-nav ul{
  list-style:none;
  margin:0 0 0 10px;
}

.sidebar-nav ul li{
	margin:10px 0;
}

.sidebar-nav ul a{
  color: #acacac;
  text-decoration:none
}

.sidebar-nav ul ul{
    display: none; /* 隐藏所有子列表 */
}
.sidebar-nav ul ul.active{
    display: block; /* 显示活动子列表 */
}

.sidebar-nav ul ul li{
  list-style-type: none;
  font-size:0.9em;
  color: #f8b280;
  padding-left:0px;
  margin:0 0 0 -30px;
}

.content{
  padding:60px 10% 0 10%;
  position:absolute;
  width:46%;
  top:0;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  /* left:340px; */
  transition:left .25s ease;
}

.itemtitle{
  position:relative;
  width:326px;
  margin: 40px auto 20px;
}

.itembox{
  margin:10px 0;
  background-color:#1a1a1d;
  border-radius:20px;
  padding: 5px 5px 5px 3%;
  position:relative;
  display:flex;
  align-items:center;
}

.box_main{
  float:left;
  padding: 5px 5px 5px 10px;
}

.box_intro{
  float:left;
  padding: 5px 5px 5px 3%;
}

.box_text{
  display:flex;
  align-items:center;
  color:#b9bbec;
  padding: 10px 5px 5px 10px;
}

.box_text ul{
   padding: 0 15px;
   margin: 0px;
   line-height:1.5em;
}

.box_text ul li{
  font-size:0.9em;
}
